// IMPORT MIXINS - FONTS/MEDIA QUERIES //
@import "mixins";
// BODY //
body {
    // UI FONT //
    font-size: 16px;
    // MEDIA DESKTOP //
    @include for-size(desktop) {
        // UI FONT //
        font-size: 12px;
    }
    // MEDIA TABLET //
    @include for-size(tablet) {
        // UI FONT //
        font-size: 16px;
    }
    // LOADING //
    .loading {
        position: fixed;
        z-index: 9999999999;
        width: 100%;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        // UI //
        background: #ffffff;
        .logo {
            width: 127px;
            height: 44px;
            display: flex;
            align-items: center;
            justify-content: center;
            // UI //
            background: url(/assets/img/logo-avanti-com-slogan.png);
            background-repeat: no-repeat;
            i {
                margin-top: 100px;
            }
        }
    }
    // MENU OVERLAY MOBILE //
    .menu-overlay {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        overflow-y: auto;
        overflow-x: hidden;
        opacity: 0;
        transition: opacity 1s;
        // UI //
        background-color: rgba(0, 0, 0, 0.7);
        // UI FONT //
        text-align: center;
    }
    // CONTAINER MAIN //
    .container {
        width: 1100px;
        margin: 0 auto;
        // MEDIA BIG-DESKTOP //
        @include for-size(big-desktop) {
            width: 80%;
        }
        // MEDIA TABLET //
        @include for-size(tablet) {
            width: 90%;
        }
    }
    // HEADER //
    header {
        position: relative;
        // UI //
        box-shadow: 0px 4px 8px #0000001f;
        border-radius: 0px 0px 8px 8px;
        // MEDIA TABLET //
        @include for-size(tablet) {
            padding-bottom: 40px;
        }
        // HEADER TOP //
        .header-top {
            display: flex;
            justify-content: space-between;
            padding-top: 40px;
            // MEDIA TABLET //
            @include for-size(tablet) {
                height: 140px;
            }
            // LOGO //
            .logo {
                width: 127px;
                height: 44px;
                // UI //
                background: url(/assets/img/logo-avanti-com-slogan.png);
                background-repeat: no-repeat;
                // MEDIA TABLET //
                @include for-size(tablet) {
                    margin: 4px 0 0 66px;
                }
                // MEDIA BIG-MOBILE //
                @include for-size(big-mobile) {
                    margin: 4px 0 0 50px;
                }
                h1 {
                    // UI FONT //
                    font-size: 2em;
                    color: transparent;
                }
            }
            // SEARCH //
            .search {
                width: 60%;
                margin: 0 auto;
                display: flex;
                // MEDIA TABLET //
                @include for-size(tablet) {
                    width: 90%;
                    position: absolute;
                    top: 120px;
                }
                input[type="text"] {
                    width: 80%;
                    height: 40px;
                    padding-right: 50px;
                    padding-left: 20px;
                    // UI //
                    box-shadow: 0px 0px 8px #00000029;
                    border: 1px solid #f8f8f8;
                    border-radius: 12px;
                    // UI FONT //
                    @include typography-3;
                    font-size: 0.813em;
                    color: #4f4f4f;
                }
                input[type="button"] {
                    width: 20%;
                    height: 45px;
                    // UI //
                    background: #5b6d62;
                    box-shadow: 0px 0px 8px #00000029;
                    margin-left: -40px;
                    // UI FONT //
                    @include typography-3;
                    font-size: 1em;
                    color: #ffffff;
                    cursor: pointer;
                }
            }
            // CART //
            .cart {
                position: relative;
                width: 44px;
                height: 44px;
                margin-top: 2px;
                // UI //
                box-shadow: 0px 0px 8px #00000040;
                border-radius: 4px;
                .amount-items {
                    position: absolute;
                    right: -20px;
                    top: -10px;
                    padding: 5px 15px 5px 15px;
                    // UI //
                    background-color: #df2f1a;
                    border-radius: 12px;
                    // UI FONT //
                    @include typography-3;
                    color: #ffffff;
                    font-size: 12px;
                    // MEDIA BIG-MOBILE //
                    @include for-size(big-mobile) {
                        right: -10px;
                    }
                }
                .fa-shopping-cart {
                    margin-top: 8px;
                    margin-left: 10px;
                    // UI FONT //
                    color: #df2f1a;
                    font-size: 24px;
                }
            }
            // HAMBURGUER BUTTON - MOBILE //
            .hamburguer-btn {
                display: none;
                // MEDIA TABLET //
                @include for-size(tablet) {
                    display: block;
                    position: absolute;
                    top: 28px;
                    opacity: 0.8;
                    .btn {
                        position: absolute;
                        top: 0;
                        left: -14px;
                        cursor: pointer;
                        .btn-left {
                            position: absolute;
                            height: 8px;
                            width: 15px;
                            top: 30px;
                            left: 15px;
                            -webkit-transition-duration: 0.5s;
                            transition-duration: 0.5s;
                            // UI //
                            background-color: #4f4f4f;
                            &:before {
                                position: absolute;
                                width: 15px;
                                height: 8px;
                                content: "";
                                top: -12px;
                                -webkit-transition-duration: 0.5s;
                                transition-duration: 0.5s;
                                // UI //
                                background-color: #4f4f4f;
                            }
                            &:after {
                                position: absolute;
                                width: 15px;
                                height: 8px;
                                content: "";
                                top: 12px;
                                -webkit-transition-duration: 0.5s;
                                transition-duration: 0.5s;
                                // UI //
                                background-color: #4f4f4f;
                            }
                        }
                        .btn-right {
                            position: absolute;
                            height: 8px;
                            width: 15px;
                            top: 30px;
                            left: 30px;
                            -webkit-transition-duration: 0.5s;
                            transition-duration: 0.5s;
                            // UI //
                            background-color: #4f4f4f;
                            &:before {
                                position: absolute;
                                width: 15px;
                                height: 8px;
                                content: "";
                                top: -12px;
                                -webkit-transition-duration: 0.5s;
                                transition-duration: 0.5s;
                                // UI //
                                background-color: #4f4f4f;
                            }
                            &:after {
                                position: absolute;
                                width: 15px;
                                height: 8px;
                                content: "";
                                top: 12px;
                                -webkit-transition-duration: 0.5s;
                                transition-duration: 0.5s;
                                // UI //
                                background-color: #4f4f4f;
                            }
                        }
                    }
                    .active {
                        .btn-left {
                            -webkit-transition-duration: 0.5s;
                            transition-duration: 0.5s;
                            // UI //
                            background: transparent;
                            &:before {
                                -webkit-transform: rotateZ(45deg) scaleX(1.4) translate(4px, 4px);
                                transform: rotateZ(45deg) scaleX(1.4) translate(4px, 4px);
                            }
                            &:after {
                                -webkit-transform: rotateZ(-45deg) scaleX(1.4) translate(4px, -4px);
                                transform: rotateZ(-45deg) scaleX(1.4) translate(4px, -4px);
                            }
                        }
                        .btn-right {
                            -webkit-transition-duration: 0.5s;
                            transition-duration: 0.5s;
                            // UI //
                            background: transparent;
                            &:before {
                                -webkit-transform: rotateZ(-45deg) scaleX(1.4) translate(-4px, 4px);
                                transform: rotateZ(-45deg) scaleX(1.4) translate(-4px, 4px);
                            }
                            &:after {
                                -webkit-transform: rotateZ(45deg) scaleX(1.4) translate(-4px, -4px);
                                transform: rotateZ(45deg) scaleX(1.4) translate(-4px, -4px);
                            }
                        }
                    }
                }
            }
        }
        // HEADER TOP - FIXED DESKTOP //
        .fixed-top {
            // MEDIA TABLET IF-DESKTOP //
            @include for-size(if-desktop) {
                position: fixed;
                width: 100%;
                right: 0;
                top: 0;
                white-space: nowrap;
                overflow: hidden;
                z-index: 999999;
                padding-bottom: 40px;
                // UI //
                background-color: #fff;
                box-shadow: 0px 4px 8px #0000001f;
                border-radius: 0px 0px 8px 8px;
                // UI FONT //
                text-overflow: ellipsis;
                .header-top {
                    width: 1100px;
                    margin: 0 auto;
                    // MEDIA BIG-DESKTOP //
                    @include for-size(big-desktop) {
                        width: 80%;
                    }
                }
                // SET KEYFRAME //
                .fixed-top-keyframes {
                    animation: fixed-top-keyframes 1s;
                }
                @keyframes fixed-top-keyframes {
                    0% {
                        max-height: 0px;
                    }
                    100% {
                        max-height: 200px;
                    }
                }
            }
        }
        // HEADER NAV //
        .header-menu {
            // SIDE MENU WRAPPER - MOBILE  //
            .side-menu-wrapper {
                // MEDIA TABLET //
                @include for-size(tablet) {
                    position: fixed;
                    top: 0;
                    right: 0;
                    width: 250px;
                    height: 100%;
                    padding: 40px 0 0 40px;
                    z-index: 2;
                    box-sizing: border-box;
                    transition: 0.5s;
                    // UI //
                    background: #ffffff;
                    // CLOSE NAV MOBILE //
                    .menu-close {
                        padding: 0 0 20px 20px;
                        cursor: pointer;
                        // UI FONT //
                        @include typography-3;
                        font-size: 1em;
                        color: #6e6d6d;
                        cursor: pointer;
                    }
                    // NAV HEADER MOBILE //
                    nav {
                        ul {
                            flex-direction: column;
                            a {
                                li {
                                    padding: 20px !important;
                                    border-bottom: 1px solid #5b6d62;
                                    &:hover {
                                        // UI //
                                        background-color: #ffffff;
                                    }
                                }
                            }
                        }
                    }
                }
            }
            // MENU CLOSE - MOBILE //
            .menu-close {
                // MEDIA IF-DESKTOP //
                @include for-size(if-desktop) {
                    display: none;
                }
            }
            // NAV HEADER //
            nav {
                ul {
                    display: flex;
                    justify-content: center;
                    a {
                        // UI FONT //
                        @include typography-3;
                        font-size: 1em;
                        color: #6e6d6d;
                        li {
                            padding: 25px;
                            &:hover {
                                @include transition-1;
                                // UI //
                                background-color: #f7f7f7;
                                // UI FONT //
                                color: #5b6d62;
                            }
                        }
                    }
                }
            }
        }
    }
    // MAIN //
    main {
        // MAIN BANNER //
        .main-banner {
            img {
                width: 100%;
                height: 243px;
                // MEDIA BIG-MOBILE //
                @include for-size(big-mobile) {
                    height: 150px;
                }
            }
        }
        // MAIN TITLE//
        .main-title {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 150px;
            // UI FONT //
            text-align: center;
            @include typography-4;
            font-size: 1.875em;
            letter-spacing: 9.6px;
        }
        // MEDIA IF-DESKTOP //
        @include for-size(if-desktop) {
            // SET KEYFRAME DESKTOP //
            .parkinson-keyframes {
                animation: parkinson-keyframes 0.1s;
                animation-iteration-count: 20;
            }
            @keyframes parkinson-keyframes {
                0% {
                    margin-left: 0;
                }
                25% {
                    margin-left: 5px;
                }
                50% {
                    margin-left: 0;
                }
                75% {
                    margin-left: -5px;
                }
                100% {
                    margin-left: 0;
                }
            }
        }
        // MAIN DESCRIPTION//
        .main-description {
            display: flex;
            align-items: center;
            height: 200px;
            // UI FONT //
            @include typography-1;
            font-size: 0.875em;
            color: #707070;
            line-height: 19px;
            text-align: center;
            // MEDIA BIG-MOBILE //
            @include for-size(big-mobile) {
                padding: 40px 0 40px 0;
            }
            // MEDIA MEDIUM-MOBILE //
            @include for-size(medium-mobile) {
                padding: 60px 0 60px 0;
            }
        }
        // VITRINE PROMOCAO //
        .promocao {
            display: flex;
            padding-bottom: 80px;
            // MEDIA BIG-MOBILE //
            @include for-size(big-mobile) {
                display: block;
                padding-bottom: 50px;
            }
            .banner {
                width: 50%;
                height: 397px;
                // MEDIA DESKTOP //
                @include for-size(desktop) {
                    width: 40%;
                    height: auto;
                }
                // MEDIA TABLET //
                @include for-size(tablet) {
                    width: 50%;
                }
                // MEDIA BIG-MOBILE //
                @include for-size(big-mobile) {
                    width: 100%;
                }
                img {
                    width: 100%;
                    height: 100%;
                    // MEDIA BIG-MOBILE //
                    @include for-size(big-mobile) {
                        height: 300px;
                    }
                }
            }
            .vitrine {
                width: 50%;
                // MEDIA DESKTOP //
                @include for-size(desktop) {
                    width: 60%;
                }
                // MEDIA TABLET //
                @include for-size(tablet) {
                    width: 50%;
                }
                // MEDIA BIG-MOBILE //
                @include for-size(big-mobile) {
                    width: 100%;
                }
                .slick-slider {
                    width: calc(100% - 80px) !important;
                    margin: 0 auto !important;
                    // MEDIA BIG-MOBILE //
                    @include for-size(big-mobile) {
                        width: calc(100% - 40px) !important;
                        padding-top: 60px;
                        padding-bottom: 10px;
                    }
                }
            }
        }
        // VITRINE //
        .main-vitrine {
            .slick-slider {
                width: calc(100% - 40px) !important;
                margin: 0 auto !important;
            }
            .product {
                .image {
                    img {
                        height: 250px;
                        // MEDIA DESKTOP //
                        @include for-size(desktop) {
                            height: 200px;
                        }
                        // MEDIA TABLET //
                        @include for-size(tablet) {
                            height: 300px;
                        }
                    }
                }
            }
        }
        // PRODUCT LIST //
        .product {
            position: relative;
            margin: 0 5px 0 5px;
            .flag {
                position: absolute;
                top: 10px;
                left: 20px;
                padding: 5px;
                border-radius: 4px;
                // UI //
                background: #df2f1a;
                // UI FONT //
                @include typography-3;
                font-size: 1em;
                color: #ffffff;
                // MEDIA DESKTOP //
                @include for-size(desktop) {
                    left: 15px;
                }
            }
            .image {
                display: flex;
                justify-content: center;
                img {
                    width: 100%;
                    height: 172px;
                    // MEDIA BIG-MOBILE //
                    @include for-size(big-mobile) {
                        height: 300px;
                    }
                }
            }
            h2 {
                padding: 20px 20px 28px 20px;
                // UI FONT //
                @include typography-3;
                font-size: 1em;
                color: #4f4f4f;
                line-height: 22px;
                // MEDIA DESKTOP //
                @include for-size(desktop) {
                    padding-bottom: 11px;
                    line-height: 18px;
                }
            }
            .price {
                display: flex;
                justify-content: space-between;
                height: 20px;
                padding: 0 20px 0 20px;
                // UI FONT //
                @include typography-3;
                font-size: 1em;
                .bestprice {
                    // UI FONT //
                    color: #ff0000;
                }
            }
            .select-quantity {
                display: flex;
                justify-content: center;
                height: 32px;
                padding: 22px 0 22px 0;
                // MEDIA DESKTOP //
                @include for-size(desktop) {
                    padding: 11px 0 11px 0;
                }
                // MEDIA BIG-MOBILE //
                @include for-size(big-mobile) {
                    padding: 12px 0 16px 0;
                }
                input[type="button"] {
                    width: 32px;
                    height: 32px;
                    // UI //
                    border-radius: 100%;
                    background-color: #1b4d9b;
                    -webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.23);
                    box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.23);
                    cursor: pointer;
                    // UI FONT //
                    @include typography-3;
                    font-size: 1em;
                    color: #ffffff;
                    opacity: 0.8;
                    @include transition-1;
                    &:hover {
                        // UI //
                        opacity: 1;
                        @include transition-1;
                    }
                }
                input[type="number"] {
                    width: 48px;
                    height: 28px;
                    margin: 0 10px 0 10px;
                    // UI //
                    border-radius: 4px;
                    border: 1px solid #dddddd;
                    // UI FONT //
                    @include typography-3;
                    font-size: 1em;
                    color: #1b4d9b;
                    text-align: center;
                }
            }
            .buy-button {
                display: flex;
                align-items: center;
                justify-content: center;
                height: 38px;
                margin: 0 20px 0 20px;
                // UI //
                background: #008939;
                border-radius: 8px;
                cursor: pointer;
                opacity: 0.8;
                // UI FONT //
                @include typography-3;
                font-size: 1em;
                color: #ffffff;
                @include transition-1;
                &:hover {
                    // UI //
                    opacity: 1;
                    @include transition-1;
                }
            }
        }
        // BUTTON NEXT/PREV - SLICK //
        .slick-next:before,
        .slick-prev:before {
            // UI FONT //
            color: #4f4f4f !important;
        }
    }
    // FOOTER //
    footer {
        // UI //
        border-top: 2px solid #f8f8f8;
        // MEDIA TABLET //
        @include for-size(tablet) {
            // UI FONT //
            font-size: 12px;
        }
        // MEDIA BIG-MOBILE //
        @include for-size(big-mobile) {
            // UI FONT //
            font-size: 16px;
        }
        // SITEMAP //
        .sitemap {
            display: flex;
            width: 1100px;
            margin: 0 auto;
            padding: 60px 0 60px 0;
            // MEDIA BIG-DESKTOP //
            @include for-size(big-desktop) {
                width: 80%;
            }
            // MEDIA TABLET //
            @include for-size(tablet) {
                width: 90%;
            }
            // MEDIA BIG-MOBILE //
            @include for-size(big-mobile) {
                flex-direction: column;
                align-items: center;
                padding: 65px 0 45px 0;
                // UI FONT //
                text-align: center;
            }
            h4 {
                height: 40px;
                // UI FONT //
                @include typography-3;
                font-size: 1em;
                color: #1b4d9b;
            }
            ul {
                li {
                    padding-right: 20px;
                    word-wrap: break-word;
                    padding-bottom: 15px;
                    opacity: 0.8;
                    @include transition-1;
                    // MEDIA BIG-MOBILE //
                    @include for-size(big-mobile) {
                        padding-right: 0;
                    }
                    a {
                        // UI FONT //
                        @include typography-1;
                        font-size: 0.875em;
                        color: #202020;
                    }
                    &:hover {
                        @include transition-1;
                        opacity: 1;
                    }
                }
            }
            .categorias {
                width: 50%;
                display: flex;
                // MEDIA BIG-MOBILE //
                @include for-size(big-mobile) {
                    width: 100%;
                    flex-direction: column;
                    align-items: center;
                }
                .categoria-um {
                    width: 50%;
                    // MEDIA BIG-MOBILE //
                    @include for-size(big-mobile) {
                        width: 100%;
                    }
                }
                .categoria-dois {
                    width: 50%;
                    padding-top: 40px;
                    // MEDIA BIG-MOBILE //
                    @include for-size(big-mobile) {
                        width: 100%;
                        padding: 0;
                    }
                }
            }
            .institucional {
                width: 25%;
                // MEDIA BIG-MOBILE //
                @include for-size(big-mobile) {
                    width: 100%;
                    padding: 40px 0 40px 0;
                }
            }
            .faleconosco {
                width: 25%;
                // MEDIA BIG-MOBILE //
                @include for-size(big-mobile) {
                    width: 100%;
                }
                .fan {
                    display: flex;
                    // MEDIA BIG-MOBILE //
                    @include for-size(big-mobile) {
                        justify-content: center;
                    }
                    a {
                        margin-top: 20px;
                        margin-right: 35px;
                        // UI FONT //
                        color: #1b4d9b;
                        font-size: 1.5em;
                        @include transition-1;
                        // MEDIA TABLET //
                        @include for-size(tablet) {
                            margin-right: 15px;
                        }
                        // MEDIA BIG-MOBILE //
                        @include for-size(big-mobile) {
                            padding-top: 40px;
                            margin: 0 10px 0 10px;
                            // UI FONT //
                            font-size: 2em;
                        }
                        &:hover {
                            -webkit-transform: rotateZ(-30deg);
                            -ms-transform: rotateZ(-30deg);
                            transform: rotateZ(-30deg);
                            @include transition-1;
                        }
                    }
                }
            }
        }
        // INFO STORE //
        .info-store {
            // UI //
            background: #f8f8f8;
            .container-info-store {
                width: 1100px;
                margin: 0 auto;
                padding: 20px;
                // UI FONT //
                @include typography-1;
                font-size: 0.75em;
                color: #828282;
                line-height: 17px;
                text-align: center;
                // MEDIA BIG-DESKTOP //
                @include for-size(big-desktop) {
                    width: 80%;
                }
            }
        }
    }
}