@mixin typography-1 {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
}

@mixin typography-2 {
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
}

@mixin typography-3 {
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
}

@mixin typography-4 {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
}

@mixin transition-1 {
    -webkit-transition: all 0.5s 0s ease;
    -moz-transition: all 0.5s 0s ease;
    -o-transition: all 0.5s 0s ease;
    transition: all 0.5s 0s ease;
}

@mixin for-size($size) {
    @if $size==small-mobile {
        @media (max-width: 320px) {
            @content;
        }
    }
    @else if $size==medium-mobile {
        @media (max-width: 375px) {
            @content;
        }
    }
    @else if $size==big-mobile {
        @media (max-width: 425px) {
            @content;
        }
    }
    @else if $size==tablet {
        @media (max-width: 768px) {
            @content;
        }
    }
    @else if $size==desktop {
        @media (max-width: 1024px) {
            @content;
        }
    }
    @else if $size==big-desktop {
        @media (max-width: 1440px) {
            @content;
        }
    }
}